.comp{
    background-color: brown;
    color: white;
    margin: 20px;
    padding: 20px;
    border: 5px inset blue;
    width: 300px;

}
#main{
    display: flex;
    flex-wrap: wrap;
}
a{
    color: white;
    text-decoration: none;
}
a::before{
    content:"📧	" ;
}